<%- include("templates/header") %> 

<% if (!authenticated) { %>
    <br>
    <a class="btn btn-primary" href="/createUser" role="button">Sign Up</a>
    <a class="btn btn-primary" href="/login" role="button">Log in</a>
<% } else { %>
    <br>
    <p>Hi <%= username %>!</p>
    <a class="btn btn-primary" href="/loggedin/-1/0/" role="button">Map</a>
    <a class="btn btn-primary" href="/logout" role="button">Log Out</a>
    <br><br>
    <div class="input-group" id="suggestionDiv">
        <span class="input-group-text">Suggestion</span>
        <textarea id="suggestion" class="form-control" aria-label="Suggestion"></textarea>
        <button id="submit" class="btn btn-primary" role="button">Submit</button>
    </div>
<% } %>
<br> <br>
<h1> BWW Pearls Changelog </h1>
<pre> 
1.06 Fixes:
Pearl rates/village (Suggested by Phantomaniax)

1.05 Fixes:
Added a heat map (Thank you SnowyRush and Streamy for rubber ducking me :3)
Added upcoming "harvesting season" event (Thanks for the 20 manna Streamy!)
Added pearl deletion (Highly requested, but specifically thanks to Michael)

1.04.1 Fixes:
Added town images for:
    0,0,
    0,1,
    and 0,2 (Thank you again ._haunt_.)

1.04 Fixes:
Made townx/z inputs reflect the current town map (Thanks Phantomaniax!)
Added suggestion box on main
Logging in now redirects you to the main page
Outlined pearls in black (Thanks Silsune!)
Made towns show up with proper maps for:
    1,1,
    1,0,
    1,-1,
    and -1,1 (._HAUNT_. YOU ARE THE GOAT ILY)
Hovering now says pearl color (Thanks Ptown2)
Updated input fields look on map page

1.03 Fixes:
Added stats page (Thanks Silsune!)

1.02 Fixes:
Fixed typo in previous bugfix
Fixed NaN pearls for realsies this time
Pearls are now added to the proper map when not in BBB (Thanks Kiramki!)
Made the name of the person who added the pearl show up next to coords (Thanks ._Haunt_.!)

1.01.1 Fixes:
Changed date checking to UTC

1.01 Fixes:
Blue pearls are now blue (Thanks Quacks!)
Members only button renamed and now works
Map rotated 90 degrees (Thanks Michael and Cas!)
Pearls now store user who added them (leaderboards soon? /silly)
Site look fix (Thanks Silsune!)
No longer able to add nonexistent pearls at 0/0 (NaN pearls)
</pre>
<br> <br>
<pre>
TODO:
URGENT:
Figure out village verification (PLEASE SUGGEST IDEAS),
Admin tools

NOT QUITE SO URGENT:
Make the map size dependent on screen size,
Make input fields look nicer on login and signup pages
More graphs (give the BBB pearlers/verified users access to the database for their town?),

WOULD BE NICE TO HAVE:
Password resetting,
Rework pearl database to be by-town and by-date so it's easier to sort through,
Village "lock down" system so I can ransom it,
Message board for verified users,
Show town names (Request by ptown2),

SUGGESTED FEATURES:
Pearl color filter (BeelsFad)
</pre>

<script type="module" src="/suggestion.js"></script>
<%- include("templates/footer") %> 