<%- include("templates/header") %> 
    <p>You are logged in! Hi <%= username %>! </p>
    <br>
    <a class="btn btn-primary" href="/logout" role="button">Log Out</a>
    <br>
    <img src= <%= cat %> style='width:250px;'>
<%- include("templates/footer") %> 
