<li> 
    <%= user.username %> (<%= user.user_type %>) 
    <br>

    <a class="btn btn-primary" href="/promote/<%= user.username %>" role="button">Authorize</a>
    <br>
    <a class="btn btn-primary" href="/demote/<%= user.username %>" role="button">Deauthorize</a>
</li>